DEFAULT_TEMP_PATH=src/main/resources/temp
CUCUMBER_PROJECT_REPOSITORY_PATH=https://%s@bitbucket.org/____/efefewff.git
CUCUMBER_PROJECT_GLUE_REPOSITORY_PATH=src/test/java/cucumber/steps
CUCUMBER_PROJECT_FEATURE_REPOSITORY_PATH=src/test/resources/cucumber
CUCUMBER_PROJECT_REPOSITORY_USERNAME=efewfewf
CUCUMBER_PROJECT_REPOSITORY_PASSWORD=fwefewfewf